SQLAlchemy~=2.0.43
click~=8.2.1
fastapi~=0.116.1
passlib~=1.7.4
pydantic-settings~=2.10.1
python-dotenv~=1.1.1
pydantic~=2.11.7
python-jose~=3.5.0
openai~=1.106.1
streamlit~=1.49.1
pandas~=2.3.2
requests~=2.32.5
uvicorn[standard]
email-validator>=2,<3
mcp>=1.1.0,<2
fastapi-mcp>=0.1.0,<1
